<div id="wiki_container" class="container">
    
      
        <div class="container">
          <form class="navbar-form" [formGroup]="formGroup" (submit)="search_plant()">
            <span class="bmd-form-group">
              <div class="input-group no-border">
                <input type="text" class="form-control rounded blank" id="name" name="name" placeholder="Chercher une plante" formControlName="name">
              </div>
            </span>
          </form>
         
          <ul class="list-group">
  
              
              <app-wiki-single-plant *ngFor="let plant of plants"
              [nom] = "plant.nom"
              [nom_scientifique] = "plant.nom_scientifique"
              [recolte_en_jours] = "plant.recolte_en_jours"
              [image] = "plant.image"
              [url_wiki] = "plant.url_wiki"
              [saison_debut] = "plant.saison_debut"
              [saison_fin] = "plant.saison_fin"
              [id]="plant.id">
              </app-wiki-single-plant>      
              
            
          </ul>
          <mat-paginator [pageSize]="10"
          [length]="this.paginatorLength"
          (page)="onPageChange($event)">
        </mat-paginator> 
        </div>
</div>