#wiki_container {
    margin-top: 100px;
}

.blank {
    background-color: white;
}

form {
    margin-bottom: 30px;
}



mat-paginator {
    background-color: #eee;
}

#CustomSelect {
    background-color: white;
    width: 50%;
}