<!-- <div class="container">
    <div class="mx-auto text-center">
      <h1 class="">Voici les détails de votre parcelle numéro {{parcel.numero_parcel}}</h1>
    </div>
    <div class="text-dark">
      <img class="card-img-top" src="{{plante.image}}" alt="Card image cap" style="width:50%;height:50%">
        <div class="card-title">Plante assignée: </div>
        <div class="card-body">
          {{plante.description}}
        </div>
        <a mat-raised-button color="warn" style="cursor:pointer" class="nav-link" (click)="delete_parcel()">Supprimer la
          parcelle</a><br>
      <mat-card class="example-card bg-light" style="max-width: 50rem;">
        <div class="row">
          <div class="col">
            <img mat-card-image class="card-img-left" src="{{plante.image}}" alt="image plante">
          </div>
          <div class="col">
            <mat-card-header>
              <mat-card-title>Parcelle numéro {{parcel["numero_parcelle"]}}</mat-card-title>
              <mat-card-subtitle>date de plantation: {{parcel["date_plantation"] | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{plante["info_insolite"]}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button class="warn" (click)="delete_parcel()">Supprimer la parcelle</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
    Countdown:
</div>-->

<div *ngIf="!isLoaded; else content">
  <mat-progress-spinner></mat-progress-spinner>
</div>
<ng-template #content id="body-single">
  <div class="card container graphique pb-3">
    <div class="card-header">
      <h2>{{plante['nom']}}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{plante.image}}" alt="{{plante['nom']}}">
        </div>
        <div class="col-md-6">
          <table class="table table-stripped">
            <tbody>
              <tr>
                <td>Numéro de parcelle:</td>
                <td><i>{{parcel["numero_parcelle"]}}</i></td>
              </tr>
              <tr>
                <td>date de plantation:</td>
                <td>{{parcel["date_plantation"] | date}}</td>
              </tr>
              <tr>
                <td>Récolte en jours :</td>
                <td>{{plante['recolte_en_jours']}}</td>
              </tr>
            </tbody>
          </table>
          <button mat-stroked-button color="warn" (click)="delete_parcel()">Supprimer la parcelle</button>
        </div>
      </div>
      <!--
            <div class="row" *ngFor="let plantWiki of plantWikipedia" >
                <mat-expansion-panel class="expansion" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{plantWiki._title}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="content">{{plantWiki.wiki}}</p>
                  </mat-expansion-panel>
                  
            </div>
            <div class="row">
                <mat-expansion-panel class="expansion" hideToggle>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Détails techniques
                    </mat-panel-title>
                    </mat-expansion-panel-header >
                    
                    <table class="table table-stripped content" >
                        <tr>
                            <td>Consommation en phosphore</td>
                            <td>{{plant.phosphore_sol}}</td>
                        </tr>
                        <tr>
                            <td>Consommation en Azote</td>
                            <td>{{plant.azote_sol}}</td>
                        </tr>
                        <tr>
                            <td>Consommation en potassium</td>
                            <td>{{plant.potassium_sol}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de plantes (/m²) :</td>
                            <td>{{plant.densite_semi}}</td>
                        </tr>
                    </table>
                  </mat-expansion-panel>
                  
            </div>
            <div class="row">
                <mat-expansion-panel class="expansion" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Info insolite
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="content">{{plant.info_insolite}}</p>
                  </mat-expansion-panel>
                  
            </div>-->
    </div>
  </div>
  <div class="graphique">
    <div class="row align-items-end">
      <div class="card card-block bg-light text-dark">
        <div class="card-body">
          <app-line-graph [parcel]="id_parcel"></app-line-graph>
        </div>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="card card-block bg-light text-dark">
        <div class="card-body">
          <app-bar-water-graph [parcel]="id_parcel"></app-bar-water-graph>
        </div>
      </div>
    </div>
  </div>