
Frontend/Pot-App/angular.json
Frontend/Pot-App/package-lock.json
Frontend/Pot-App/package.json
Backend/env
Backend/Pot_App/.env
Img/

Backend/Pot_App/__pycache__/

Backend/appli/migrations/__pycache__/

Backend/appli/__pycache__/

Backend/appli/api/__pycache__/
