<div class="bg"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h2>La genèse d'un projet</h2>
                <p>Durant nos études en technologies de l'informatique</p>
            </div>
        </div>
        <div class="row">
            <h2>L'équipe au complet!</h2>
        </div>
        <div >
            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>
                            Allan Fontaine aka scrum secrétaire
                        </h3>
                    </mat-grid-tile-header>
                    <p>
                        Insérer une image ici
                    </p>
                    <mat-grid-tile-footer>
                        <blockquote>
                            Insérer ici une citation personnelle
                        </blockquote>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>
                            Celia Hassaine aka mes heures parlent pour moi
                        </h3>
                    </mat-grid-tile-header>
                    <p>
                        Insérer une image ici
                    </p>
                    <mat-grid-tile-footer>
                        <blockquote>
                            Insérer ici une citation personnelle
                        </blockquote>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>
                            Emmanuel Foureau aka salut je suis en retard
                        </h3>
                    </mat-grid-tile-header>
                    <p>
                        Insérer une image ici
                    </p>
                    <mat-grid-tile-footer>
                        <blockquote>
                            Insérer ici une citation personnelle
                        </blockquote>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>
                            Florent Theys aka vous faites tous du bon travail
                        </h3>
                    </mat-grid-tile-header>
                    <p>
                        Insérer une image ici
                    </p>
                    <mat-grid-tile-footer>
                        <blockquote>
                            Insérer ici une citation personnelle
                        </blockquote>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>
                            Glenn Crompton aka glennichou
                        </h3>
                    </mat-grid-tile-header>
                    <p>
                        Insérer une image ici
                    </p>
                    <mat-grid-tile-footer>
                        <blockquote>
                            Insérer ici une citation personnelle
                        </blockquote>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>
                            Kévin Vandenede aka jfais tout tout seul
                        </h3>
                    </mat-grid-tile-header>
                    <p>
                        Insérer une image ici
                    </p>
                    <mat-grid-tile-footer>
                        <blockquote>
                            Insérer ici une citation personnelle
                        </blockquote>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>