<div class="bg"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h2>
                    La genèse d'un projet
                </h2>
                <p>
                    Dans le cadre de notre projet d'intégration de 3ème année de bachelier à l'EPHEC, nous avons été amené à essayer de trouver une idée de projet. 
                    Ce projet se devait d'être créé avec les méthodes de Devops ainsi qu'en utilisant les techniques et technologies vues en classe, 
                    tout en respectant aussi un des besoins de nôtre société actuelle resprésenté par les Objectifs de Développement Durable mis en avant par l'UN.
                </p>
                <p>    
                    C'est dans cet esprit qu'est né Pot'App.<br> Pot'App se veut être une aide efficace pour toute personne qui aurait envie de se lancer dans le monde 
                    des potagers à domicile. Il offre un support intéressant pour se lancer tout en permettant de limiter les possibles erreurs de débutant. 
                    Pot'App est muni d'un wikipedia regroupant diverses infos sur les plantes ainsi que l'optimisationde leur rotation. Outre tout cela, 
                    Pot'App arrose automatiquement vôtre potager en fonction de ses besoins, permettant une économie d'eau et de temps.
                    Alors n'hésitez plus, planté!
                </p>
            </div>
        </div>
        <div class="row">
            <h2>L'équipe au complet!</h2>
        </div>
        <div >
            <mat-grid-list [cols]="breakpoint" gutterSize="1rem" (window:resize)="onResize($event)">
                <mat-grid-tile >
                    <mat-grid-tile-header>
                        <h3>
                            Allan Fontaine
                        </h3>
                    </mat-grid-tile-header>
                    <img src="../../../assets/img/creator/Allan.jpg"/>
                    <mat-grid-tile-footer>
                        <p>
                            Lorsque l'idée de projet nous est venue avec l'équipe, j'ai tout de suite accroché. Je possède moi-même un potager à la maison et je trouvais ca intéressant de pouvoir mettre mes compétences à disposition pour travailler sur un outil concret qui pourrait mettre utile à l'avenir. J'avais le post de Scrum Master pendant ce projet.
                        </p>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile >
                    <mat-grid-tile-header>
                        <h3>
                            Celia Hassaine
                        </h3>
                    </mat-grid-tile-header>
                    <img src="../../../assets/img/creator/Glenn.jpg"/>
                    <mat-grid-tile-footer>
                        <p>
                            Insérer ici une présentation personnelle
                        </p>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile >
                    <mat-grid-tile-header>
                        <h3>
                            Emmanuel Foureau 
                        </h3>
                    </mat-grid-tile-header>
                    <img src="../../../assets/img/creator/Emma.jpg"/>
                    <mat-grid-tile-footer>
                        <p>
                            Insérer ici une présentation personnelle
                        </p>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile >
                    <mat-grid-tile-header>
                        <h3>
                            Florent Theys 
                        </h3>
                    </mat-grid-tile-header>
                    <p>
                        FLORENT NOT FOUND (maybe in the wood)
                    </p>
                    <mat-grid-tile-footer>
                        <p>
                            Insérer ici une présentation personnelle
                        </p>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile >
                    <mat-grid-tile-header>
                        <h3>
                            Glenn Crompton 
                        </h3>
                    </mat-grid-tile-header>
                    <img src="../../../assets/img/creator/Glenn.jpg"/>
                    <mat-grid-tile-footer>
                        <p>
                            Insérer ici une présentation personnelle
                        </p>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile >
                    <mat-grid-tile-header>
                        <h3>
                            Kévin Vandenede 
                        </h3>
                    </mat-grid-tile-header>
                    <img src="../../../assets/img/creator/Kev.jpg"/>
                    <mat-grid-tile-footer>
                        <p>
                            Insérer ici une présentation personnelle
                        </p>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>