<div class="bg"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h2>
                    La genèse d'un projet
                </h2>
                <p>
                    Dans le cadre de notre projet d'intégration de 3ème année de bachelier à l'EPHEC, nous avons été amené à essayer de trouver une idée de projet. 
                    Ce projet se devait d'être créé avec les méthodes de Devops ainsi qu'en utilisant les techniques et technologies vues en classe, 
                    tout en respectant aussi un des besoins de nôtre société actuelle resprésenté par les Objectifs de Développement Durable mis en avant par l'UN.
                </p>
                <p>    
                    C'est dans cet esprit qu'est né Pot'App.<br> Pot'App se veut être une aide efficace pour toute personne qui aurait envie de se lancer dans le monde 
                    des potagers à domicile. Il offre un support intéressant pour se lancer tout en permettant de limiter les possibles erreurs de débutant. 
                    Pot'App est muni d'un wikipedia regroupant diverses infos sur les plantes ainsi que l'optimisationde leur rotation. Outre tout cela, 
                    Pot'App arrose automatiquement vôtre potager en fonction de ses besoins, permettant une économie d'eau et de temps.
                    Alors n'hésitez plus, planté!
                </p>
            </div>
        </div>
        <div class="row">
            <h2>L'équipe au complet!</h2>
        </div>
        <div class = "people" >
            <mat-grid-list [cols]="breakpoint" gutterSize="2px" (window:resize)="onResize($event)">
                <mat-grid-tile (click) = "sendToGithub('Glennichouffe')" class = "item">
                    <img src="../../../assets/img/creator/Allan.jpg"/>
                        <div class="cover"> 
                            <h3 class="name">Allan Fontaine</h3>
                            <p class="title">Scrum Master</p>
                        </div>
                    
                </mat-grid-tile>
                <mat-grid-tile (click) = "sendToGithub('celiaHassaine')" class = "item">
                    <img src="../../../assets/img/creator/Glenn.jpg"/>
                    <div class="cover"> 
                        <h3 class="name">Celia Hassaine</h3>
                        <p class="title">Team Member</p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile (click) = "sendToGithub('Glennichouffe')" class = "item">
                    <img src="../../../assets/img/creator/Emma.jpg"/>
                    <div class="cover"> 
                        <h3 class="name">Emmanuel Foureau</h3>
                        <p class="title">Team Member</p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile (click) = "sendToGithub('Glennichouffe')" class = "item" >
                    <p>
                        FLORENT NOT FOUND (maybe in the wood)
                    </p>
                    <div class="cover"> 
                        <h3 class="name">Florent Theys</h3>
                        <p class="title">Product Owner</p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile (click) = "sendToGithub('Glennichouffe')" class = "item">>
                    <img src="../../../assets/img/creator/Glenn.jpg"/>
                    <div class="cover"> 
                        <h3 class="name">Glenn Crompton</h3>
                        <p class="title">Team Member</p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile (click) = "sendToGithub('Glennichouffe')" class = "item">
                    <img src="../../../assets/img/creator/Kev.jpg"/>
                    <div class="cover"> 
                        <h3 class="name">Kevin Vandenede</h3>
                        <p class="title">Team Member</p>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>