.card-image {
  width: 75%;
  height: 500px;
  border: 1px solid green;
}

a{
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  border-spacing: 25px;
  padding: 5px;
}

p{
  font-size: larger;
}

h1{
  font-size: 300%;
}
