<div class="container-fluid text-center">
  <div class="row text-center my-auto">
    <div class="card card-block d-flex bg-light text-dark card-image mx-auto">
      <div class="my-auto">
        <div class="card-header">
          <h1>Cet onglet n'est pas encore disponible pour vous</h1>
        </div>
        <div class="card-body">
          <p class="align-middle">Pour pouvoir profiter de cette fonctionnalité, il faut <a
              (click)="openDialogForm()">se connecter</a> ou alors <a routerLink="/sign-up">créer un compte</a>
            personnelle</p>
          <p>Cela ne prendra que quelques secondes et les utilisateurs ont droit à un suivi plus personnel et blablabla
            allan u do this</p>
          <br>
          <br>
          <p class="text-muted"><small>*L'achat de notre produit est nécessaire afin de pouvoir suivre l'évolution de
              votre potager A COMPLETER</small></p>
        </div>
      </div>
    </div>
  </div>
</div>