<!--<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="wiki">Wiki</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  </div>

</nav>


<a mat-button>Home</a>
  <a mat-button>Wiki</a>
  <a mat-button>Profil</a>
  <a mat-button>About us</a>
  <a mat-raised-button color="accent">Sign Up</a>
  -->
<mat-toolbar color="primary" class="mat-elevation-z8">
  <a mat-button routerLink="home" class="nav-link nav-view"><span><mat-icon>eco</mat-icon>Pot'App</span></a>
  <a mat-button class="nav-link nav-view hoverable" routerLink="home">Home</a>
  <a mat-button class="nav-link nav-view" routerLink="wiki">Wiki</a>
  <a mat-button class="nav-link nav-view" routerLink="garden">Mon Potager</a>
  <div class="spacer"></div>
  <div>
    <a mat-raised-button *ngIf="authService.LoggedIn()" color="warn" style="cursor:pointer" class="nav-link" (click)="authService.logoutUser()">Logout</a>
    <a mat-raised-button *ngIf="!authService.LoggedIn()" color="warn" class="nav-link" routerLink="register">Register</a>
    <a mat-raised-button *ngIf="!authService.LoggedIn()" color="accent" class="nav-link" routerLink="login">Login</a>
  </div>

</mat-toolbar>
