<mat-toolbar color="primary" class="mat-elevation-z8">
  <a mat-button routerLink="home" class="nav-link nav-view"><span><mat-icon>eco</mat-icon>Pot'App</span></a>
  <a mat-button class="nav-link nav-view hoverable" routerLink="home">Home</a>
  <a mat-button class="nav-link nav-view" routerLink="wiki">Wiki</a>
  <a mat-button class="nav-link nav-view" routerLink="garden">Mon Potager</a>
  <a mat-raised-button *ngIf="authService.LoggedIn()" style="cursor:pointer" class="nav-link" routerLink="historique">Historique des Parcelles</a>
  <div class="spacer"></div>
  <div>
    <a mat-raised-button *ngIf="authService.LoggedIn()" color="warn" style="cursor:pointer" class="nav-link" (click)="authService.logoutUser()">Logout</a>
    <a mat-raised-button *ngIf="!authService.LoggedIn()" color="warn" class="nav-link" routerLink="register">Register</a>
    <a mat-raised-button *ngIf="!authService.LoggedIn()" color="accent" class="nav-link" routerLink="login">Login</a>
  </div>

</mat-toolbar>
