.back{
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}
.back img{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.col-md-6{
    background-color: rgba(2, 2, 2, 0.80);
    color: rgb(255, 255, 255);
}