<div class="logo">
    <a routerLink="/" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/favicon.png"/>
        </div>
        Pot'App
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
       <li>
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <!--<li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
            <a class="{{menuItem.class}} nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>-->
      <li routerLinkActive="active" class="nav-item">
        <a class="dash nav-link" routerLink="/dashboard">
          <i class="material-icons">dashboard</i>
          <p>dashboard</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class=" nav-link" routerLink="/wiki">
          <i class="material-icons">chrome_reader_mode</i>
          <p>Wiki</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="dash nav-link" routerLink="/user-profile">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="dash nav-link" routerLink="/historique">
          <i class="material-icons">archive</i>
          <p>Historique</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class=" nav-link" routerLink="/shop">
          <i class="material-icons">shopping_cart</i>
          <p>Magasin</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class=" nav-link" routerLink="/about-us">
          <i class="material-icons">group</i>
          <p>About us</p>
        </a>
      </li>
    </ul>
</div>
