.tile-plantes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
img {
  width: 40%;
  height: 40%;
  transition: all 1s ease;
}

.tile-plantes:hover::before,
.tile-plantes:hover {
  opacity: 1;
}
.tile-plantes:hover img {
  width: 50%;
  height: 50%;
}
.con-text {
  cursor: pointer;
  position: absolute;
  color: white;
  bottom: 0;
  width: 270px;
  height: 250px;
  padding: 75px 25px;
  display: none;
  text-align: center;
  text-shadow: rgb(26, 100, 3) 0px 0px 10px;
}
.tile-plantes:hover .con-text {
  display: block;
}
