.example-card {
  width: 450px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: rgba(217, 248, 214, 0.1);
}
.example-card:hover .mycard_content {
  display: block;
}
.mycard_content {
  display: none;
}
.price-content {
  text-align: center;
}
img {
  height: 90%;
  width: 90%;
  margin-left: 5%;
}
img:hover {
  cursor: pointer;
}
.button-css {
  text-align: center;
}

.titles {
  text-align: center;
}
