.example-card {
  height : 650px;
  width : 400px;
  margin-top: 50px;
  background-color: rgba(217, 248, 214, 0.1);
}
.price-content {
  text-align: center;
}
img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.button-css {
  text-align: center;
}

.titles {
  text-align: center;
}
.cart-button{
  margin-top: 10px;
}
@media (max-width: 989px) {
  .example-card {
    width: 50vw;
  }
}

@media (max-width: 550px) {
  .example-card {
    width: fit-content;
  }
}
