<script>

  AOS.init();
</script>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<div id="page-top">
<!-- Masthead -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Pot'App</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">L'avenir du jardinage</h2>
            <a class="btn btn-primary js-scroll-trigger" routerLink (click)="navi()">Commencer l'aventure</a>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Le jardinage 2.0</h2>
                <p class="text-white-50">
                    Vous avez la nostalgie de ces après-midi passées chez votre grand-mère
                    avec ses délicieuses soupes aux tomates fraichement ceuillis du jardin?
                    Vous aimeriez bien en faire de même mais dire que vous n'avez pas la main
                    verte est un bien faible mot?
                    Ou peut-être n'avez juste pas le temps de vous en occuper tous les jours
                    ce qui les conduits à une sécheresse innéluctable?
                    Alors n'hésitez plus, Pot'App est fait pour vous!
                    Notre système d'arrosage automatique s'occupera d'arroser vos plantes
                    en fonction de leurs besoins en eau et vous indiquera même ce qu'il est
                    plus judicieux de planter en fonction des antécédents de vos plantes ainsi que de la saison.
                    <br>Pot'App c'est la solution du tout en un, vous n'avez plus qu'à planter et Pot'app s'occupe du reste.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="../../../assets/img/favicon.png" alt="" />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-center">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/jardinage_potapp4.jpg" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Facile à utiliser</h4>
                    <p class="text-black-50 mb-0">Pour utiliser notre application, il faut un Master en ingénierie agronome.
                        Cependant si vous n'en avez pas, pas d'inquiétude, l'application est très facile d'emploi
                        autant pour les novices que pour les vétérans! La première étape consiste à se créer un compte
                        utilisateur! Alors n'attendez plus et connectez vous!
                        </p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0" data-aos="fade-up" data-aos-anchor-placement="top-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/liberonspotapp2.jpg" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-primary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">A plus soif</h4>
                            <p class="mb-0 text-white-50">Les plantes demandent une certaine quantité d'eau pour ne pas se désécher.
                                Ne pas en mettre assez nuit à la longévité des ces dernières mais en mettre trop n'est pas
                                bon non plus, cela peut en effet causer certaines maladies! Avec Pot'App, plus de questions
                                à se poser, l'appareil gère la quantité d'eau que votre plante à besoin en permanence!
                                Grâce à Pot'App, assurez-vous de la santé de vos plantes tout en économisant l'eau que vous utilisez.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters" data-aos="fade-up" data-aos-anchor-placement="top-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/liberonspotapp3.jpg" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-secondary text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Plus qu'à planter</h4>
                            <p class="mb-0 text-white-50">Avec Pot'App la seule chose que vous ayez à faire c'est planter, ajouter
                                les informations des plantes plantées et leurs parcelles. Voilà, une fois votre système
                                branché à l'eau et à une prise de courant, plus besoin de s'en occuper si ce n'est pour
                                vous débarasser des mauvaises herbes! Facile d'installation et d'utilisation.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Alors, n'attendez plus et rejoignez nous!</h2>
                <form class="form-inline d-flex">
                    <button class="btn btn-primary mx-auto" (click)="navi()">Commencer!</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Adresse</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">Rue du jardinage, 56</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="#!">pot'app@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Téléphone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">+32 479518130</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="https://github.com/AllanFontaine/Pot-App"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-primary small text-center text-white-50"><div class="container">Copyright © Pot'App 2020</div></footer>
</div>
