
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
        </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" mat-icon-button [matMenuTriggerFor]="menu" routerLink aria-label="Example icon-button with a menu">
                      <i class="material-icons">account_circle</i>
                    </a>
                    <mat-menu #menu="matMenu">
                      <a mat-menu-item class="dropdown-item" *ngIf="authService.LoggedIn()" (click)="authService.logoutUser()">
                      <i class="material-icons">login</i>
                      <span>Logout</span>
                    </a>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>
