
body {
  background-color: #95c2de;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 150%;
    margin-top: 40vh;
  }

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}