<section>
        <h2 class="display-4"><mat-icon>shopping_cart</mat-icon>My Shoping Cart</h2>
            <div class="row shop-listing">
              <table class="table shop-table" >
                <thead>
                  <th class="b-0">Name</th>
                  <th class="b-0">Price</th>
                  <th class="b-0">Quantity</th>
                  <th class="b-0 text-right">Total Price</th>
                </thead>
                <tbody>
                  <td>test</td>
                  <td>test2</td>
                  <td>
                    <button class="btn btn-sm" >-</button>
                   5
                    <button class="btn btn-sm">+</button>
                  </td>
                  <td class="text-right">
                    <h5 class="font-medium m-b-30">lalala</h5>
                  </td>
                </tbody>
                <tr>
                  <td colspan="3" align="right">Subtotal : okdood</td>
                  <td colspan="4" align="right">
                    <button class="btn btn-danger" >Empty Cart</button>
                  </td>
                </tr>
              </table>
        </div>
  </section>