html {
  scroll-behavior: smooth;
}

nav {
    display: block;
    font-weight: bolder;
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-item:hover{
  border-color: #e9ecef #e9ecef #dee2e6;
  transform: scale(1.1)
}

.nav-item:hover.scrolled{
  border-color: #e9ecef #e9ecef #dee2e6;
  transform: scale(1.1)
}

.bg-dark {
    background:transparent !important;
    transition:0.75s ease;
    font-family: Serif;
}

.bg-dark.scrolled {
    background:white !important;
    color: #0c5460;
    font-family: Georgia, Serif;
}
.modal-backdrop {
    height: 100%;
}

.active{
  background-color: #0b3251;
}
