<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-dark navbar-transparent fixed-top">
    <div class="container">
        <div class="logo-img">
            <img src="/assets/img/favicon.ico" />
        </div>
        <a class="navbar-brand js-scroll-trigger" routerLink="#page-top">Pot'App</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" [attr.aria-expanded]="!isCollapsed"
            aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse show" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink (click)="scrolling('about')">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink (click)="scrolling('projects')">Projects</a></li>
                <li class="nav-item"><a class="nav-link" routerLink (click)="scrolling('signup')" >Contact</a></li>
                <li><a mat-raised-button color="accent" class="nav-link" href="/wiki">Go to the app <i class="material-icons">arrow_right_alt</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Login Button -->
