<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Let's add a parcel</h3>
      </div>
      <div class="card-body">
        <form class="form" (ngSubmit)="addParcelUser(f)" #f="ngForm">
          <div class="form-group">
            <label id="example-radio-group-label">Choisis ta plante</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              name="plante"
              type="number"
              ngModel>
              <mat-radio-button class="example-radio-button" *ngFor="let plante of listPlant" [value]="plante.id">
                {{plante.nom}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-group">
            <label for="numero_parcelle">Numéro de la parcelle</label>
            <input name="numero_parcelle" type="number" id="numero_parcelle" class="form-control rounded-0" ngModel required>
          </div>
          <div class="form-group">
            <label for="taille">Taille de la parcelle ajoutée</label>
            <input name="taille" id="taille" type="number" class="form-control rounded-0" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary float-right">Ajoutez une parcelle</button>
        </form>
      </div>
    </div>
  </div>
</div>
