<script>console.log(formArray.get)</script>

<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <form [formGroup]="formGroup" (ngSubmit)="registerUser()">
      <mat-vertical-stepper formArrayName="formArray" [linear]="isLinear" #stepper>
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>Informations personnelles</ng-template>
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Ex: Jhonny" formControlName="surnameCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex: Depp" formControlName="nameCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="Ex: 16 Rue du Potager" formControlName="adresse">
          </mat-form-field>
          <div>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
          <ng-template matStepLabel>Informations de compte</ng-template>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="mailCtrl" placeholder="Ex: Jhonny.Depp@monmail.com" type="email" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput formControlName="userCtrl" placeholder="Ex: JhonDepp69" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="passCtrl"
              placeholder="Ex: username@gmail.com" type="password" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirmez votre mot de passe</mat-label>
            <input matInput formControlName="confirmPassCtrl"
              placeholder="Ex: username@gmail.com" type="password" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirmation</ng-template>
          <mat-checkbox [(ngModel)]="isAccepted" class="example-margin" id="termes" [ngModelOptions]="{standalone: true}">
            J'accepte les <a href="/terms" target="_blank">termes et conditions</a></mat-checkbox>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button type="submit" disabled={{!isAccepted}}>
              Valider
            </button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>