<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form class="form" (ngSubmit)="registerUser(f)" #f="ngForm">
          <div class="form-group">
            <label for="Username">Username</label>
            <input name="username" type="text" id="Username" class="form-control rounded-0" ngModel required>
          </div>
          <div class="form-group">
            <label for="SignupEmail">Email</label>
            <input name="email" id="SignupEmail" type="text" class="form-control rounded-0" ngModel required>
          </div>
          <div class="form-group">
            <label for="FName">First name</label>
            <input name="firstName" type="text" id="FName" class="form-control rounded-0" ngModel>
          </div>
          <div class="form-group">
            <label for="LName">Last name</label>
            <input name="lastName" type="text" id="LName" class="form-control rounded-0" ngModel>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" id="password" class="form-control rounded-0" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary float-right">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
