<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form class="form" (ngSubmit)="registerUser(f)" #f="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" id="username" class="form-control rounded-0" ngModel required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input name="email" id="email" type="text" class="form-control rounded-0" ngModel required>
          </div><!--
          <div class="form-group">
            <label for="first_name">First name</label>
            <input name="first_name" type="text" id="first_name" class="form-control rounded-0" ngModel>
          </div>
          <div class="form-group">
            <label for="last_name">Last name</label>
            <input name="last_name" type="text" id="last_name" class="form-control rounded-0" ngModel>
          </div>-->
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" id="password" class="form-control rounded-0" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary float-right">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
