<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <form (ngSubmit)="LoginProcess(f)" #f="ngForm">
    <div class="form-group" >
      <i class="material-icons prefix">account_circle</i>
      <mat-form-field>
        <mat-label for="loginUsername">Username</mat-label>
        <input matInput type="text"
               class="form-control"
               id="loginUsername"
               name="username"
               placeholder="Enter username" ngModel>
      </mat-form-field>
    </div>
    <div class="form-group">
      <i class="material-icons prefix">vpn_key</i>
      <mat-form-field>
        <mat-label for="loginPassword">Password</mat-label>
        <input matInput type="password"
               class="form-control"
               id="loginPassword"
               name="password"
               placeholder="Password" ngModel>
      </mat-form-field>
    </div>
    <div class="form-group form-check">
      <a routerLink="/resetPassword">Mot de passe oublié</a>
    </div>
    <button mat-raised-button type="submit" color="primary" class="mt-5">Login</button>
  </form>
</div>
